
/*КЛАСИ ЕЛЕМЕНТІВ ТЕКСТУ ------------------------------------------------------------------------------------------------------*/
.tittle{
    font-size: var(--h2); /*розмір тексту заголовків можна змінити туть*/
    font-family: var(--ubuntu-font); /*шрифт заголовків можна змінити туть*/
    font-weight: var(--font-weight-bold); /*жирність тексту можна змінити туть*/
    color: var(--color-dark); /*колір тексту можна змінити туть*/
    margin-bottom: 40px;
}

.usual-text{
    font-size: var(--body); /*розмір тексту заголовків можна змінити туть*/
    font-family: var(--manrope-font); /*шрифт заголовків можна змінити туть*/
    font-weight: var(--font-weight-regular); /*жирність тексту можна змінити туть*/
    color: var(--color-dark); /*колір тексту можна змінити туть*/
}

.usual-text-bold{
    font-size: var(--body); /*розмір тексту заголовків можна змінити туть*/
    font-family: var(--manrope-font); /*шрифт заголовків можна змінити туть*/
    font-weight: var(--font-weight-bold); /*жирність тексту можна змінити туть*/
    color: var(--color-dark); /*колір тексту можна змінити туть*/
}

.label-text{
    font-size: var(--label); /*розмір тексту заголовків карток можна змінити туть*/
    font-family: var(--ubuntu-font); /*шрифт можна змінити туть*/
    font-weight: var(--font-weight-bold); /*жирність тексту можна змінити туть*/
    color: var(--color-dark); /*колір тексту можна змінити туть*/
}

.accent-text{
    font-size: var(--accent); /*розмір тексту можна змінити туть*/
    font-family: var(--ubuntu-font); /*шрифт можна змінити туть*/
    font-weight: var(--font-weight-bold); /*жирність тексту можна змінити туть*/
    color: var(--color-dark); /*колір тексту можна змінити туть*/
}

.slogan{
    font-size: var(--h1); /*розмір тексту слогану можна змінити туть*/
    font-family: var(--ubuntu-font); /*шрифт слогану можна змінити туть*/
    font-weight: var(--font-weight-bold); /*жирність тексту можна змінити туть*/
    color: var(--color-dark); /*колір тексту можна змінити туть*/
}

.sub-slogan{
    font-size: var(--label); /*розмір тексту під-слогану можна змінити туть*/
    font-family: var(--manrope-font); /*шрифт під-слогану можна змінити туть*/
    font-weight: var(--font-weight-regular); /*жирність тексту можна змінити туть*/
    color: var(--color-dark); /*колір тексту можна змінити туть*/
    margin-top: 40px;
    margin-bottom: 80px;
}

.small-text{
    font-size: var(--small); /*розмір тексту заголовків можна змінити туть*/
    font-family: var(--manrope-font); /*шрифт заголовків можна змінити туть*/
    font-weight: var(--font-weight-regular); /*жирність тексту можна змінити туть*/
    color: var(--color-dark); /*колір тексту можна змінити туть*/
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/*КЛАСИ ДЛЯ НАВІГАЦІЙНОЇ ПАНЕЛІ -----------------------------------------------------------------------------------------------*/
.nav-section{
    background-color: var(--color-grey-dark); /*змінити задній колір навігаційньої панельки можна туть*/
}

.navbar-menu-item{
    color: var( --color-light); /*змінити колір елементів меню можна туть*/
    text-decoration: none; /*забирає дефолтні підкреслення посилань та інші налаштування браузера, не видаляти*/
}

.navbar-menu-item:hover {
    color: var( --color-dark); /*змінити колір елементів меню при водінні мишкою можна туть*/
}

.navbar{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.navbar-menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: var(--ubuntu-font); /*змінити шрифт менюшки можна туть*/
    font-weight: var(--font-weight-bold); /*змінити жирність шрифта менюшки можна туть*/
    font-size: var(--body); /*змінити розмір шрифта менюшки можна туть*/
}

.navbar-icons img{ 
    cursor: pointer;
}

.navbar-icons{
    display: none;
}

.hide {
    display: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/*КЛАСИ ДЛЯ СЕКЦІЇ 1 - БАНЕР --------------------------------------------------------------------------------------------------*/
.section-1 {
    height: 700px;
    width: 100%;
    background-image: url("../images/banner_img.png"); /*змінити фонове зображення для першого розділу можна туть*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-1-content{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/* КЛАСИ ДЛЯ СЕКЦІЇ 2 - ПРО НАС -----------------------------------------------------------------------------------------------*/
.section-gap{
    margin-top: 100px;
}

.section-2-content{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    margin-bottom: 60px;
}

.card-section-2{
    background-color: var(--color-grey-light); /*колір карток можна змінити туть*/
    height: auto;
    padding: 40px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gaps-for-card{
    margin: 40px 0;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/* КЛАСИ ДЛЯ СЕКЦІЇ 3 - ЦІННОСТІ ----------------------------------------------------------------------------------------------*/
.card-section-3{
    background-color: var(--color-grey-light); /*колір карток можна змінити туть*/
    height: auto;
    padding: 40px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gap-20px{
    margin-bottom: 20px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/* КЛАСИ ДЛЯ СЕКЦІЇ 4 - ФАКТИ -------------------------------------------------------------------------------------------------*/
.section-4 {
    height: auto;
    width: 100%;
    background-color: var(--color-grey-light);/*змінити фоновий колір можна туть*/
    padding: 60px 0;
}

.card-tittle-section-4{
    background-color: var(--color-grey-dark); /*колір карток можна змінити туть*/
    height: auto;
    padding: 16px 40px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-content-section-4{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/* КЛАСИ ДЛЯ СЕКЦІЇ 5 - КОМАНДА -----------------------------------------------------------------------------------------------*/
.card-section-5 {
    background-color: none; 
    height: auto;
    padding: 40px;
    border-radius: 18px;
    border-color: var(--color-grey-light); /*змінити колір контуру карточки можна тут*/
    border-style: solid; /*змінити стиль контуру можна тут (dashed — пунктирна, dotted — точкова, double — подвійна, none — без рамки, solid - суцільна лінія*/
    border-width: 3px; /*жирність контуру можна змінити тут*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gap-30px {
  margin-top: 30px;
}

.gap-16px {
  margin-top: 16px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/


/* КЛАСИ ДЛЯ СЕКЦІЇ 6 - ЗВ'ЯЗОК -----------------------------------------------------------------------------------------------*/
.section-6{
    height: auto;
    width: 100%;
    background-color: var(--color-grey-dark);/*змінити фоновий колір можна туть*/
    padding: 60px 0;
}

.button-wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 24px; 
    margin-top: 60px;
}

.button-extra{ 
    display: flex;
    justify-content: center;
}

.extra-span{
    grid-column: span 2;
}

.spacer {
    display: flex;
    flex-grow: 1;   
}

.extra-box{
    display: flex;
    flex-direction: column;
}

.image-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/


/* КЛАСИ ДЛЯ СЕКЦІЇ 7 - FAQ --------------------------------------------------------------------------------------------------*/
.faq-section {
    max-width: 100%;
}

.faq-padding{
    padding: 20px 40px;
}

.arrow-padding{
    padding: 20px 40px 20px 20px;
}


.arrow-icon{
    height: 40px;
    width: 40px;
}

details {
    background-color: var(--color-grey-dark); /* Задній колір шапки відкриваючого списку можна задати тут */
    border-radius: 18px; /* заокруглення кутів можна задати тут */
    margin-bottom: 40px; 
    overflow: hidden;
}

summary {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    cursor: pointer; 
    list-style: none; 
    user-select: none;
}

/* Приховуємо маркер за замовчуванням, щоб поставити свій */
summary::-webkit-details-marker {
    display: none;
}

.opened-content {
    background-color: var(--color-grey-light); /* колір фону відкриваючої відповіді можна змінити тут*/
    padding: 40px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/


/* КЛАСИ ДЛЯ ФУТЕРА -----------------------------------------------------------------------------------------------*/
.center-footer{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

footer{
    background-color: var(--color-grey-dark); /*змінити задній колір футера можна туть*/
    padding: 40px 0;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/